/* Complex curved elements that can't be replicated with Tailwind utilities */

.topCurve {
  width: 100%;
  height: 10vh;
  border-radius: 100% 0% 0% 0% / 95% 5% 0% 0%;
  background: linear-gradient(to right, #a30000, #f44708);
}

.bottomCurve {
  width: 100%;
  height: 10vh;
  border-radius: 0% 0% 95% 0% / 0% 0% 95% 100%;
  background: linear-gradient(to right, #a30000, #f44708);
}

