// Imports
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Source+Sans+Pro:300,400,700&display=swap");

// Variables
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Source Sans Pro", sans-serif;
$primary-color: #c82104;
$primary-color-darker: #a30000;
$base-color: #000000;
$red-gradient: linear-gradient(to right, #a30000, #f44708);
$red-gradient-transparent: linear-gradient(to right, rgba(163, 0, 0, 0.75), rgba(244, 71, 8, 0.75));

body {
	font-family: $secondary-font;
	color: $base-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary-font;
	font-weight: 700;
	color: $primary-color;
}
.navbar {
	padding: 20px;
}

.navbar-brand,
.nav-link {
	font-family: $primary-font;
	color: white !important;
}

.navbar-brand {
	font-weight: 700;
}

.nav-link {
	margin-left: 8px;
	margin-right: 8px;
	&:hover {
		text-decoration: underline;
	}
}

.dark-text {
	color: $base-color;
}

a {
	color: $primary-color;
	&:hover {
		color: $primary-color;
	}
}

.white-link {
	color: white;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

.btn {
	background-color: white;
	font-family: $primary-font;
	color: $base-color;
	border: none;
	&:hover {
		background-color: white;
		color: $base-color;
		border: none;
	}
	&:active {
		background-color: white !important;
		color: $base-color !important;
		border: none;
		:focus {
			background-color: white !important;
			color: $base-color !important;
			border: none;
		}
	}
}

.color {
	background-color: $primary-color;
	color: white;
	font-family: $secondary-font;
	&:hover {
		background-color: $primary-color-darker;
		color: white;
		border: none;
	}
	&:active {
		background-color: $primary-color-darker !important;
		color: white !important;
		border: none;
		:focus {
			background-color: $primary-color-darker !important;
			color: white !important;
			border: none;
		}
	}
}



.navbar-toggler {
	border-color: white !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.footer {
	background: $red-gradient;
	color: white;

	.nav-link {
		font-size: 14px;
		font-family: $primary-font;
		font-weight: 400;
		color: rgba($color: white, $alpha: 0.7) !important;
		margin: 0px;
		padding: 0px;
		text-decoration: none !important;

		.footer-heading {
			color: rgba($color: white, $alpha: 1) !important;
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 8px;
		}
	}
}

@media (max-width: 414px) {
	.footer-col {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-bottom: 10px;
	}
}

.icon {
	margin: 10px;
}

.thumbnail {
	max-height: 150px;
	margin-bottom: 14px;
}

.thumbnail2 {
	max-height: 150px;
}

.bio {
	font-size: 16px;
}

.light {
	// font-size: 16px;
	color: rgba($color: $base-color, $alpha: 0.65);
}

.copyright {
	font-size: 14px;
	font-family: $primary-font;
	font-weight: 400;
	color: rgba($color: white, $alpha: 0.7) !important;
	margin: 0px;
	padding: 0px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.center-top {
	display: flex;
	justify-content: center;
	text-align: center;
}

.center-vertical {
	display: flex;
	justify-content: center;
}

.center-horizontal {
	align-items: center;
	text-align: center;
}

.top {
	padding-top: 18px;
}

.bottom {
	padding-top: 1em;
}

.lineskip {
	padding-bottom: 10px;
}

img {
	max-width: 90%;
}

.primary-font {
	font-family: $primary-font;
}

.padding1 {
	padding-top: 20px;
	padding-bottom: 40px;
}

.padding2 {
	padding-top: 2em;
	padding-bottom: 1em;
}

.padding3 {
	padding-top: 2.5em;
	padding-bottom: 2em;
}

.padding4 {
	padding-top: 4em;
	padding-bottom: 4em;
}

.padding5 {
	padding-top: 6em;
	padding-bottom: 6.5em;
}

.margin1 {
	margin-top: 7em;
	margin-bottom: 5em;
}

.margin2 {
	margin-top: 7em;
	margin-bottom: 8em;
}

.margin3 {
	margin-top: 5em;
	margin-bottom: 2em;
}

.margin4 {
	margin-top: 4em;
	margin-bottom: 4em;
}

.margin5 {
	margin-top: 2em;
	margin-bottom: 2em;
}

.margin-bottom {
	margin-bottom: 5em;
}

.margin-bottom2 {
	margin-bottom: 5px;
}

.margin-bottom3 {
	margin-bottom: 30px;
}

.margin-bottom4 {
	margin-bottom: 10px;
}

.margin-bottom5 {
	margin-bottom: 2em;
}

.margin-lr {
	$dist: 30px;
	margin-left: $dist;
	margin-right: $dist;
}

.left-margin {
	margin-left: 30px;
}

.desc {
	font-size: 22px;
}

.inline-link {
	color: $primary-color !important;
	font-size: 22px;
	font-family: $secondary-font;
	font-weight: 700;
	padding: 0px;
	margin-left: 0px;
	margin-bottom: 12px;
}

.fa-chevron-right {
	margin-left: 5px;
	font-size: 18px;
}

// Home Page

.sq-bg {
	background: url("../public/img/square-pattern.svg");
	background-size: cover;
}

.pg-heading {
	color: white;
}

.pg-jumbotron {
	min-height: 50vh;
}

.diagonal {
	width: 100%;
	background-color: $red-gradient;
	background: $red-gradient;
	color: white;
	transform: rotate(2deg) skew(2deg);
	-webkit-transform: rotate(2deg) skew(2deg);
	-moz-transform: rotate(2deg) skew(2deg);
	-o-transform: rotate(2deg) skew(2deg);
	-ms-transform: rotate(2deg) skew(2deg);

	margin-top: 5em;
	margin-bottom: 5em;
}

.diagonal-contents {
	color: #fff;
	padding: 35px 0 15px;
	transform: rotate(-2deg) skew(-2deg);
	-webkit-transform: rotate(-2deg) skew(-2deg);
	-moz-transform: rotate(-2deg) skew(-2deg);
	-o-transform: rotate(-2deg) skew(-2deg);
	-ms-transform: rotate(-2deg) skew(-2deg);
	margin-bottom: -20px;
	padding-bottom: 50px;
}

.stats-title {
	color: white !important;
	margin-bottom: 1em;
}

.stats-number {
	font-size: 3.5rem;
	line-height: 3.25rem;
	font-weight: 300 !important;
	font-family: $primary-font;
	color: white;
	margin-bottom: 0px;
}

.stats-base {
	font-size: 30px;
	font-weight: 500;
	font-family: $primary-font;
	color: white;
}

.stats-icon {
	font-size: 3rem;
	margin-bottom: 22px;
	font-weight: 500;
}

.logo {
	width: 70% !important;
}

.space {
	padding: 12px;
	margin-bottom: 12px;
}

// About Page

.about-bg {
	background: url("../public/img/group-pic-2020.png");
	background-size: cover;
	background-position: 50% 70%;
}

.bg-gradient {
	background: $red-gradient;
}

.bg-gradient-transparent {
	background: $red-gradient-transparent;
}

.top-curve {
	width: 100%;
	height: 10vh;
	border-radius: 100% 0% 0% 0% / 95% 5% 0% 0%;
	background: linear-gradient(to right, #a30000, #f44708);
}

.bottom-curve {
	width: 100%;
	height: 10vh;
	border-radius: 0% 0% 95% 0% / 0% 0% 95% 100%;
	background: linear-gradient(to right, #a30000, #f44708);
}

.particlejs {
	position: absolute;
}
