// Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

// Variables
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Source Sans Pro", sans-serif;
$primary-color: #c82104;
$primary-color-darker: #a30000;
$primary-color-focus: #c8210446;
$base-color: #000000;
$muted-color: #696969;
$red-gradient: linear-gradient(to right, #a30000, #f44708);
$light-red-gradient: linear-gradient(to right, #c82104, #f44708);
$red-gradient-transparent: linear-gradient(to right, rgba(163, 0, 0, 0.75), rgba(244, 71, 8, 0.75));

html {
	scroll-behavior: smooth;
	scroll-padding-top: 10%;
}

body {
	font-family: $secondary-font;
	color: $base-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary-font;
	font-weight: 700;
	color: $primary-color;
}

h1 {
	@media (max-width: 576px) {
		font-size: 1.75rem;
	}
}

.navbar {
	padding: 20px;

	&-nav {
		@media (max-width: 992px) {
			margin-top: 8px;
		}
	}
}

.navbar-brand,
.nav-link {
	font-family: $primary-font;
	color: white !important;

	@media (max-width: 992px) {
		text-align: right;
	}
}

.nav-item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 8px 0px 8px;
	padding-right: .5rem;
	padding-left: .5rem;

	a {
		font-family: $primary-font;
		text-decoration: none;
		color: white;

		&:hover {
			color: white;
			text-decoration: underline;
		}
	}

	@media (max-width: 992px) {
		justify-content: right;
		padding: 0.5rem 0rem;
	}
}

.navbar-brand {
	font-weight: 700;
}

.nav-link {
	margin: 0px 8px 0px 8px;
	&:hover {
		text-decoration: underline;
	}
}

.dark-text {
	color: $base-color;
}

a {
	color: $primary-color;
	&:hover {
		color: $primary-color;
	}
}

.white-link {
	color: white;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

.btn {
	background-color: white;
	font-family: $primary-font;
	color: $base-color;
	border: none;
	transition: 0.4s;
	padding: 0.375rem 1.25rem;

	// &::after {
	// 	content: "➜";
	// 	position: absolute;
	// 	opacity: 0;
	// 	transition: 0.4s;
	// 	margin-left: 0.25rem;
	// }

	&:hover {
		// padding-left: 0.75rem;
		// padding-right: 1.75rem;
		background-color: white;
		color: $base-color;
		border: none;

		// &::after {
		// 	opacity: 1;
		// }
	}

	&:active {
		background-color: white !important;
		color: $base-color !important;
		border: none;
		:focus {
			background-color: white !important;
			color: $base-color !important;
			border: none;
		}
	}
}

.link-btn {
	&::after {
		content: "➜";
		position: absolute;
		opacity: 0;
		transition: 0.4s;
		margin-left: 0.25rem;
	}

	&:hover {
		padding-left: 0.75rem;
		padding-right: 1.75rem;
		&::after {
			opacity: 1;
		}
	}
}

.card-text {
	text-wrap: balance;
}

.apply-btn {
	position: relative;
	height: calc(1.5rem + 0.5rem * 2);
	width: 100%;
	font-weight: 700;
	padding: 0.5rem 0.75rem;
	border-radius: 4px;
	background: $primary-color;
	transition-delay: 0.6s;
	overflow: hidden;

	// cool smooth looking hover effect
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $primary-color;
		border-radius: 0;
		transform: translateY(0) scaleY(1);
		transition: all 0.6s ease;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #f44708;
		border-radius: 50% 50% 0 0;
		transform: translateY(100%) scaleY(0.6);
		transition: all 0.6s ease;
	}

	div {
		position: relative;
		left: 0px;
		width: 100%;
		height: calc(1rem + 0.475rem);
		overflow: hidden;
	}

	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		transition: transform 0.6s ease;

		&:first-child {
			color: white;
			transform: translateY(0px);
		}
		&:last-child {
			color: white;
			transform: translateY(1.5rem);
		}
	}

  &:hover {
    background: #f44708;
    transition: background 0.1s linear;
    transition-delay: 0.6s;
		cursor: pointer;

    &::before {
      border-radius: 0 0 50% 50%;
      transform: translateY(-100%) scaleY(.5);
      transition-delay: 0;
		}

    &::after {
      border-radius: 0;
      transform: translateY(0) scaleY(1);
      transition-delay: 0;
		}

    span {
      &:first-child {
        transform: translateY(-1.5rem);
			}
      &:last-child {
        transform: translateY(0px);
			}
		}
	}
}

.color {
	background-color: $primary-color;
	color: white;
	font-family: $secondary-font;
	&:hover {
		background-color: $primary-color-darker;
		color: white;
		border: none;
	}
	&:active {
		background-color: $primary-color-darker !important;
		color: white !important;
		border: none;
	}
	&:focus {
		background-color: $primary-color-darker !important;
		color: white !important;
		border: none;
		box-shadow: 0 0 0 0.2rem $primary-color-focus !important;
	}
}



.navbar-toggler {
	border-color: white !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.footer {
	background: $red-gradient;
	color: white;

	a {
		display: block;
		font-size: 14px;
		font-family: $primary-font;
		font-weight: 400;
		color: rgba($color: white, $alpha: 0.7) !important;
		margin: 0px;
		margin-bottom: 4px;
		padding: 0px;
		text-decoration: none !important;

		&:hover {
			text-decoration: underline !important;
		}
	}

	.footer-heading {
		color: rgba($color: white, $alpha: 1) !important;
		font-family: $primary-font;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 8px;

		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

@media (max-width: 576px) {
	.footer-row {
		gap: 20px;
		.footer-col {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
}

.icon {
	margin: 10px;
}

.illust {
	max-width: 90%;

	@media (max-width: 575px) {
		margin-bottom: 48px;
	}
}

.company-logo {
	max-width: 90%;
}

.thumbnail {
	max-height: 150px;
	margin-bottom: 14px;
}

.thumbnail2 {
	max-height: 150px;
}

.bio {
	font-size: 16px;
}

.light {
	// font-size: 16px;
	color: rgba($color: $base-color, $alpha: 0.65);
}

.gap-3 {
	@media (max-width: 576px) {
		gap: 32px;
	}
}

.copyright {
	font-size: 14px;
	font-family: $primary-font;
	font-weight: 400;
	color: rgba($color: white, $alpha: 0.7) !important;
	margin: 0px;
	padding: 0px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.center-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.center-top {
	display: flex;
	justify-content: center;
	text-align: center;
}

.center-vertical {
	display: flex;
	justify-content: center;
}

.center-horizontal {
	align-items: center;
	text-align: center;
}

.top {
	padding-top: 18px;
}

.bottom {
	padding-top: 1em;
}

.lineskip {
	padding-bottom: 10px;
}

// img {
// 	max-width: 90%;
// }

.primary-font {
	font-family: $primary-font;
}

// WTF! - sincerely, yona
.padding1 {
	padding-top: 20px;
	padding-bottom: 40px;
}

.padding2 {
	padding-top: 2em;
	padding-bottom: 1em;
}

.padding3 {
	padding-top: 2.5em;
	padding-bottom: 2em;
}

.padding4 {
	padding-top: 4em;
	padding-bottom: 4em;
}

.padding5 {
	padding-top: 6em;
	padding-bottom: 6.5em;
}

.margin1 {
	margin-top: 7em;
	margin-bottom: 5em;
}

.margin2 {
	margin-top: 7em;
	margin-bottom: 8em;
}

.margin3 {
	margin-top: 5em;
	margin-bottom: 2em;
}

.margin4 {
	margin-top: 4em;
	margin-bottom: 4em;
}

.margin5 {
	margin-top: 2em;
	margin-bottom: 2em;
}

.margin-bottom {
	margin-bottom: 5em;
}

.margin-bottom2 {
	margin-bottom: 5px;
}

.margin-bottom3 {
	margin-bottom: 30px;
}

.margin-bottom4 {
	margin-bottom: 10px;
}

.margin-bottom5 {
	margin-bottom: 2em;
}

.margin-lr {
	$dist: 30px;
	margin-left: $dist;
	margin-right: $dist;
}

.left-margin {
	margin-left: 30px;
}

.desc {
	font-size: 22px;
}

.inline-link {
	color: $primary-color !important;
	font-size: 22px;
	font-family: $secondary-font;
	font-weight: 700;
	padding: 0px;
	margin-left: 0px;
	margin-bottom: 12px;

	&:hover {
		cursor: pointer;
		text-decoration: underline;

		.fa-chevron-right {
			margin-left: 8px;
		}
	}
}

.fa-chevron-right {
	margin-left: 4px;
	font-size: 18px;
	transition: 0.2s ease-out;
}

// Home Page

.sq-bg {
	background: url("../public/img/square-pattern.svg");
	background-size: 100%;

	@media (max-width: 992px) {
		background-size: 200%;
	}

	@media (max-width: 576px) {
		background-size: 300%;
	}
}

.pg-heading {
	color: white;
}

.pg-jumbotron {
	min-height: 50vh;
}

.diagonal {
	width: 100%;
	background-color: $red-gradient;
	background: $red-gradient;
	color: white;
	transform: rotate(2deg) skew(2deg);
	-webkit-transform: rotate(2deg) skew(2deg);
	-moz-transform: rotate(2deg) skew(2deg);
	-o-transform: rotate(2deg) skew(2deg);
	-ms-transform: rotate(2deg) skew(2deg);

	margin-top: 5em;
	margin-bottom: 5em;
}

.diagonal-contents {
	color: #fff;
	padding: 35px 0 15px;
	transform: rotate(-2deg) skew(-2deg);
	-webkit-transform: rotate(-2deg) skew(-2deg);
	-moz-transform: rotate(-2deg) skew(-2deg);
	-o-transform: rotate(-2deg) skew(-2deg);
	-ms-transform: rotate(-2deg) skew(-2deg);
	margin-bottom: -20px;
	padding-bottom: 50px;
}

.stats-title {
	color: white !important;
	margin-bottom: 1em;
}

.stats-number {
	font-size: 3.5rem;
	line-height: 3.25rem;
	font-weight: 300 !important;
	font-family: $primary-font;
	color: white;
	margin-bottom: 0px;

	@media (max-width: 992px) {
		font-size: 3rem;
	}

	@media (max-width: 576px) {
		font-size: 2.5rem;
	}
}

.stats-base {
	font-size: 2rem;
	font-weight: 500;
	font-family: $primary-font;
	color: white;

	@media (max-width: 992px) {
		font-size: 1.5rem;
	}
}

.stats-icon {
	font-size: 3rem;
	margin-bottom: 22px;
	font-weight: 500;
}

.logo {
	width: 70% !important;
}

.space {
	padding: 12px;
	margin-bottom: 12px;
}

// About Page

.about-bg {
	background: url("../public/img/group-pic-2020.png");
	background-size: cover;
	background-position: 50% 70%;
}

.bg-gradient {
	background: $red-gradient;
}

.bg-gradient-transparent {
	background: $red-gradient-transparent;
}

.top-curve {
	width: 100%;
	height: 10vh;
	border-radius: 100% 0% 0% 0% / 95% 5% 0% 0%;
	background: linear-gradient(to right, #a30000, #f44708);
}

.bottom-curve {
	width: 100%;
	height: 10vh;
	border-radius: 0% 0% 95% 0% / 0% 0% 95% 100%;
	background: linear-gradient(to right, #a30000, #f44708);
}

.particlejs {
	position: absolute;
}

// Projects page
.year-title {
	font-weight: 800;
}

.scroll-btns {
	position: sticky;
	top: 40px;
	margin-top: 40px;
	margin-left: 10%;

	@media (max-width: 1920px) {
		margin-left: 5%;
	}

	@media (max-width: 1556px) {
		display: none;
	}

	height: 0px; // To not add too much spacing
	width: 100px;

	display: flex;
	flex-direction: column;
	gap: 12px;

	.year-title {
		margin-bottom: 0;
	}

	.year-btn {
		font-weight: 700;
		&:hover {
			color: white;
			background-color: $primary-color;
		}
		&:active {
			color: white !important;
			background-color: $primary-color-darker !important;
		}
	}
}

.project-card {
	// Card position
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	color: $muted-color;

	// Card styling
	height: 100%;

	.card-img-top {
		object-fit: cover;
		height: 160px;
		border-bottom: 1px solid rgba(0,0,0,0.25);
	}

	.card-title {
		font-size: 1.5rem;
	}

	.card-subtitle {
		margin-bottom: 1rem;
	}

	.card-text {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word;
    -webkit-box-orient: vertical;
	}

	.three-lines {
		-webkit-line-clamp: 3;
	}

	.four-lines {
		-webkit-line-clamp: 4;
	}

	.read-more {
		margin-top: 12px;
		color: $primary-color;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

}

// Modals
.project-modal {
	color: $muted-color;
	.modal-header {
		position: relative;

		.modal-title {
			flex: 2;
			text-align: center;
		}

		.close {
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
	}

	.project-members {
		padding-bottom: 1rem;
		&-title {
			font-weight: 700;
		}
	}

	&-body {
		display: flex;
		flex-direction: column;
		max-height: 444px;
		overflow-y: auto;
	}

	.project-description {
		padding-top: 1rem;
	}
}