/* Complex apply button animations that can't be replicated with Tailwind utilities */

.apply-btn {
  position: relative;
  height: calc(1.5rem + 0.5rem * 2);
  width: 100%;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  background: #c82104;
  transition-delay: 0.6s;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

/* Cool smooth looking hover effect */
.apply-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c82104;
  border-radius: 0;
  transform: translateY(0) scaleY(1);
  transition: all 0.6s ease;
}

.apply-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f44708;
  border-radius: 50% 50% 0 0;
  transform: translateY(100%) scaleY(0.6);
  transition: all 0.6s ease;
}

.apply-btn div {
  position: relative;
  left: 0px;
  width: 100%;
  height: calc(1rem + 0.475rem);
  overflow: hidden;
}

.apply-btn span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: transform 0.6s ease;
}

.apply-btn span:first-child {
  color: white;
  transform: translateY(0px);
}

.apply-btn span:last-child {
  color: white;
  transform: translateY(1.5rem);
}

.apply-btn:hover {
  background: #f44708;
  transition: background 0.1s linear;
  transition-delay: 0.6s;
  cursor: pointer;
}

.apply-btn:hover::before {
  border-radius: 0 0 50% 50%;
  transform: translateY(-100%) scaleY(.5);
  transition-delay: 0;
}

.apply-btn:hover::after {
  border-radius: 0;
  transform: translateY(0) scaleY(1);
  transition-delay: 0;
}

.apply-btn:hover span:first-child {
  transform: translateY(-1.5rem);
}

.apply-btn:hover span:last-child {
  transform: translateY(0px);
}
