html,
body {
	height: 99%;
	min-width: 15em;
}

body {
	margin: 0px;
	padding: 0px;
	background: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #000000;

	font-weight: 100;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

p,
ol,
ul {
	margin-top: 0;
}

p {
	text-indent: 50pt;
}

ol,
ul {
	padding: 0;
	list-style: none;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: rgb(0, 0, 0);
}

a:hover {
	text-decoration: none;
}

.container {
	margin: 0px auto;
	width: 1200px;
}

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

form {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
	border: #000000 1pt;
	background: rgba(194, 193, 193, 0.315);
	padding: 2em;
}

.error {
	color: #ff0000;
	text-indent: 0pt;
}

form h1 {
	font-weight: 100;
}

input {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 12pt;
}

textarea {
	font-size: 12pt;
}

formbox {
	position: relative;
	font-family: Helvetica;
}

form label {
	display: block;
	text-align: left;
	margin-bottom: 0.5em;
}

form .submit {
	font-size: 12pt;
	background: rgba(255, 255, 255, 0);
	border: #000000 solid 1pt;
	border-radius: 25pt;
	padding: 1em;
	margin-bottom: 1em;
	text-transform: capitalize;
}

form .submit:hover {
	background: rgba(87, 87, 87, 0.336);
}

form input.text,
form select,
form textarea {
	position: relative;
	-webkit-appearance: none;
	display: block;
	border: 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.75);

	border-radius: 0.5em;

	padding: 1.5em 1em;
	box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
	border: solid 1px rgba(0, 0, 0, 0.15);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1em;
	outline: none;
}

form input.text:hover,
form select:hover,
form textarea:hover {
}

form input.text:focus,
form select:focus,
form textarea:focus {
	box-shadow: 0 0 2px 1px #e0e0e0;
	background: #fff;
}

form input {
	min-height: 2em;
}

form textarea {
	min-height: 4em;
}

form .formerize-placeholder {
	color: #555 !important;
}

form ::-webkit-input-placeholder {
	color: #555 !important;
}

form :-moz-placeholder {
	color: #555 !important;
}

form ::-moz-placeholder {
	color: #555 !important;
}

form :-ms-input-placeholder {
	color: #555 !important;
}

form ::-moz-focus-inner {
	border: 0;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.image img {
	display: block;
	width: 100%;
}

.image-full {
	display: block;
	width: 100%;
	margin: 0 0 3em 0;
}

.image-left {
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered {
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img {
	margin: 0 auto;
	width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1 {
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact {
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}

ul.contact li {
	display: inline-block;
	padding: 0em 0.3em;
	font-size: 1.5em;
}

ul.contact li span {
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a {
	color: #fff;
}

ul.contact li a:before {
	display: inline-block;
	background: #67128f;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 40px;
	text-align: center;
	color: #ffffff;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button:before {
	display: inline-block;
	background: #8dcb89;
	margin-right: 1em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #272925;
}

.button-small {
	padding: 0.9em 2em;
	background: #67128f;
	border-radius: 5px;
	line-height: 1.8em;
	font-size: 1em;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
	margin-bottom: 3em;
	font-family: monospace;
	font-weight: 100;
}

#htitle {
	font-size: 72pt;
	font-weight: 100;
	font-family: "Helvetica";
	letter-spacing: 3.5pt;
}
#htitle2 {
	font-size: 72pt;
	font-weight: 100;
	font-family: "Helvetica";
	color: transparent;
}

.titlebg {
	background-image: url("images/black_rose.jpg");
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-size: 95pt;
}

#htitle img {
	size: 15pt;
}

.title h2 {
	font-size: 2.8em;
	color: rgba(0, 0, 0, 0.9);
}

.title h3 {
	font-size: 2em;
	color: rgba(0, 0, 0, 0.9);
}

.title .byline {
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 1.1em;
	color: #6f6f6f;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
	overflow: hidden;

	align-content: center;
	vertical-align: middle;
}

#header {
}

#innerdiv {
	height: 55%;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 7em;
	align-self: center;
}

#innerdiv2 {
	top: 19em;
	background: #ffffffb2;
	position: absolute;

	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 45pt;
	font-family: Helvetica;
	flex: 1;
}

.innverdiv2 .h1 {
	font-size: 46pt;
	text-transform: capitalize;
}

#innerdiv2 p {
	font-size: 13pt;
}

#particles-js {
	height: 100%;
}

#ani-bg {
	position: absolute;
	margin: auto;
	top: 3em;
	right: 3em;
	bottom: 3em;
	left: 3em;

	background: #00000063;
}

#topmenu {
	position: absolute;
	font-family: monospace;
	top: 0em;
	right: 0em;
	bottom: 0em;
	left: 0em;
	height: 19em;
	align-self: auto;
	display: block;
	background: #ffffff00;
	align-content: center;
	margin-top: 1em;
}

#content {
	position: absolute;
	border-top: #000000 solid 0.7px;
	top: 19em;
	right: 0em;
	bottom: 0em;
	left: 0em;

	align-self: auto;
	display: block;
	background: #ffffffb2;
}

#page {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
}

#page h1 {
	font-size: 48pt;
	font-weight: 100;
	padding: 3pt;
}

#page h2 {
	font-size: 35pt;
	font-weight: 80;
	padding: 3pt;
	text-align: center;
}

/*********************************************************************************/
/* Downloads                                                                     */
/*********************************************************************************/

#downloads {
	align-content: center;
	text-align: center;
}

#downloads a {
	text-decoration: none;
}

#iconlet {
	display: inline-block;
	padding: 2em;
	margin: 1em;
	margin-left: 3em;
	margin-right: 3em;
	border: #000000 solid 1pt;

	height: 70pt;
	width: 70pt;
	border-radius: 25pt;
}

#iconlet:hover {
	background: rgba(199, 196, 196, 0.336);
}

#iconlets {
	display: inline-block;
	padding: 1em;
	margin: 1em;
	margin-left: 2em;
	margin-right: 2em;
	border: #000000 solid 1pt;
	height: 90pt;
	width: 90pt;
	border-radius: 25pt;
	background: #ffffffbd;
}

.tag {
	padding-top: 5pt;
	display: block;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
	padding-bottom: 6em;
	text-align: center;
	margin: 0 auto;
	color: rgb(0, 0, 0);
	font-family: monospace;
}

#logo2 {
	padding-bottom: 0.5em;
	text-align: center;

	color: rgb(0, 0, 0);
	font-family: Helvetica;
	font-weight: 200;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#logo h1 {
	font-size: 42pt;
	font-weight: lighter;
	font-family: Helvetica;
}

#logo2 h1 {
	font-size: 72pt;
	font-weight: 0;
	padding-top: 20pt;
}

#logo h2 {
	font-size: 22pt;
	padding-bottom: 8pt;
}

#logo h3 {
	font-size: 18pt;
	padding-bottom: 8pt;
}

#logo2 h2 {
	font-size: 16pt;
}

#title {
	padding: 25px;
	letter-spacing: 4pt;
	font-weight: 200;
	background: #ffffff59;
}

#title h3 {
	font-size: 18pt;
}

#title2 {
	letter-spacing: 6pt;
	font-weight: 300;
	font-size: 30pt;
}

#logo a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

#logo2 a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

#logo span {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 0.9em;
	color: rgba(255, 255, 255, 0.5);
}

#logo span a {
	color: rgba(255, 255, 255, 0.8);
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
	font-size: 14pt;
	font-family: Helvetica;
}

#menu2 {
	font-size: 14pt;
	font-family: Helvetica;
	border: rgb(0, 0, 0) solid 0.5px;
	border-radius: 45pt;
}

#menu ul {
	text-align: center;
}

#menu li {
	display: inline-block;
	border: rgba(255, 255, 255, 0) solid 1px;
	border-radius: 45pt;
	margin-left: 2%;
	margin-right: 2%;
}

#menu li a,
#menu li span {
	display: inline-block;
	margin-left: 0.5em;
	padding: 1em;
	background: #ffffff88;
	letter-spacing: 0.2em;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: 400;
	text-transform: uppercase;
	outline: 0;
	color: rgb(0, 0, 0);
	border-radius: 45pt;
}

#menu li:hover,
#menu li.active,
#menu li.active span {
	border-color: rgb(0, 0, 0);
}

#menu .current_page_item {
	border-color: rgb(0, 0, 0);
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

#wrapper1 {
	background: #242424;
}

#wrapper2 {
	background: #ededed;
}

#wrapper3 {
	overflow: hidden;
	padding: 8em 0em;
	background: #fff;
}

#wrapper4 {
	overflow: hidden;
	padding: 8em 0em 4em 0em;
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome {
	overflow: hidden;
	width: 1000px;
	padding: 8em 100px 0em 100px;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

#welcome .content {
	padding: 0em 8em;
}

#welcome .title h2 {
	color: rgba(0, 0, 0, 0.8);
}

#welcome a,
#welcome strong {
	color: rgba(0, 0, 0, 0.8);
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
	text-align: center;
}

#footer .title span {
	color: rgba(255, 255, 255, 0.4);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
	position: relative;
	font-size: 9pt;
	border-top: black solid 0.25pt;
	padding: 1.5em;
	align-content: center;
	text-align: center;
}

#socials {
	margin: 1em;
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 3em;
	fill: #858585;
	display: inline-block;
}

#copyright p {
	text-indent: 0pt;
	font-size: 7pt;
	letter-spacing: 0.2em;
	align-content: center;
	text-align: center;
	text-transform: uppercase;
	color: rgba(90, 90, 90, 0.596);
}

#copyright a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}
